NODE_ENV=production

##Business logic
LEVEL_GRID_ROW_MAX=50
LEVEL_GRID_ROW_MIN=3
LEVEL_GRID_COL_MAX=50
LEVEL_GRID_COL_MIN=3

##PostgreSQL
POSTGRES_USER="<change-me>"
POSTGRES_PASSWORD="<change-me>"
POSTGRES_DB="<change-me>"
POSTGRES_CONTAINER_NAME="nonoart_postgres"
POSTGRES_HOST="localhost"
POSTGRES_HOST_PORT=5432

##Server
PORT=7000
URL="http://127.0.0.1:${PORT}"
HOST="0.0.0.0"
GRACEFUL_SHUTDOWN_TIMEOUT_MS=10000
PG_USER=${POSTGRES_USER}
PG_PASSWORD=${POSTGRES_PASSWORD}
PG_DB=${POSTGRES_DB}
PG_HOST=${POSTGRES_HOST}
PG_PORT=${POSTGRES_HOST_PORT}
